<!doctype html>
<html>
<head>
    <title>exam platform</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
       <!-- <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>-->
        </div>
       <div class="col-sm-6">
          <h3>Nursing Practice Exam</h3>
          <!--Note to self: The goal of this project is to be an practice exam, where user can incorrect answers update or delete replies-->
          <ul class="exam">
          <% for(var i=0; i<exam.length; i++) {%>
            <li class="exam">
              <span><%= exam[i].answerone %></span>
              <span><%= exam[i].answertwo %></span>
              <!--<span><%= exam[i].answerthree %></span>-->
              <span><%= exam[i].correct %></span><!--I want this be like the trash can-->
              <span><%= exam[i].delete %></span><!--update option-->
              <span><i class="fa fa-check" aria-hidden="true"></i></span>
              <span><i class="fa fa-times" aria-hidden="true"></i></span>
              <!--<span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
              <span><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
              <span><i class="fa fa-trash" aria-hidden="true"></i></span>-->
            </li>
          <% } %>
          </ul>

          <h2>Exam Questions</h2>
        <% if (user.local.email) { %>
          <form action="/exam" method="POST">
            <p>What is the most important organ in the human body?</p>
            <input type="text"  name="answerone">
            <p>When performing CPR what organ are you most concerned about?</p>
            <input type="text"  name="answertwo">
            <!--<p>What are the two countries that border the United States?</p>
            <input type="text"  name="answerthree">-->
            <button type="submit">Done</button>
            <!--<button type="submit" class= "hidden">Clear</button>--Clear, this will serve as the update option-->
            <!--<button type="submit" class="hidden">Restart</button>Restart, this will serve as the delete option-->
          </form>
        </div>
        <% } %>

        

</div>

<script src="main.js"></script>

</body>
</html>
